<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <div class="flex flex-col">
    <label for="firstName" class="mb-1">First Name</label>
    <input id="firstName" type="text" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="flex flex-col">
    <label for="lastName" class="mb-1">Last Name</label>
    <input id="lastName" type="text" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="flex flex-col">
    <label for="email" class="mb-1">Email</label>
    <input id="email" type="email" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="flex flex-col">
    <label for="phone" class="mb-1">Phone</label>
    <input id="phone" type="tel" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="flex flex-col">
    <label for="address" class="mb-1">Address</label>
    <input id="address" type="text" class="p-2 border border-gray-300 rounded">
  </div>
  <div class="flex flex-col">
    <label for="city" class="mb-1">City</label>
    <input id="city" type="text" class="p-2 border border-gray-300 rounded">
  </div>
</div>


